@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply relative w-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}

#about-img span {
  @apply rounded-lg;
}

.btn-cta-primary {
  @apply flex items-center btn btn-primary font-title font-normal gap-3
}
.btn-cta-secondary {
  @apply flex items-center btn btn-accent font-title font-normal gap-3
}

.scrollTop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 15px;
  right: 15px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 1;
}

.scrollTop:hover {
  opacity: 0.8;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
